body
{
	align-content: center;
	font-family: "Arial";
}
#cabecera{
	text-align: center;
	max-width: 100%;
	margin: 0 15% 0 15%;
	background-color: blueviolet;
}
#post{
	align-content: center;
	background: orange;
	max-width: 100%;
	margin: 0 15% 0 15%;
	padding: 20px;
}