body
{
	align-content: center;
	font-family: "Arial";
}
#cabecera{
	color:white;
	text-align: center;
	max-width: 100%;
	margin: 0 15% 0 15%;
	background-color: blueviolet;
}
#post{
	align-content: center;
	background: orange;
	max-width: 100%;
	margin: 0 15% 0 15%;
	padding: 20px;
}
footer{
	background-color: pink;
	text-align: left;
	color: red;
	margin: 0 15% 0 15%;
	text-align: center;
}